.flex {
  display: flex;
  width: 100%;
  align-items: center;
  &--margin {
    margin: 0.5rem;
  }

  &--center {
    justify-content: center;
  }
}

.filler {
  display: flex;
  flex: 1;
  content: ' ';
}
