.container {
  display: flex;
  height: calc(100vh - 54px);
  flex-direction: column;
}

dav-history, dav-dialpad, dav-contacts-list {
  width: 100%;
}

.history {
  display: flex;
  height: 30%;
  flex: 1;
  overflow-x: auto;

  &--full {
    height: 100%;
  }
}

.dialpad {
  display: flex;
  height: 70%;
}
