@import '~@angular/material/theming';
$app-accent: mat-palette($mat-pink);
$app-primary: mat-palette($mat-light-blue);

dav-contacts-list, dav-history {
  mat-list {
    height: calc(100% - 8px);
  }
  cdk-virtual-scroll-viewport {
    height: 100%;
  }
  mat-list-item {
    max-height: 56px;
  }

  mat-list-item.local {
    color: mat-color($app-accent) !important;
  }

  .highlighted {
    color: mat-color($app-primary) !important;
  }
}
