.flex {
  width: 100%;
  display: flex;
  align-items: center;

  &--column {
    align-items: flex-start !important;
    flex-direction: column;
  }
}

.padding {
  padding: 0.5rem;
}

.text {
  display: flex;
  flex: 1;
  flex-direction: column;
}
