.flex {
  display: flex;
  width: 100%;
  align-items: center;
  &--column {
    flex-direction: column;
  }
}

.ro {
  .flex {
    margin-top: 0.2rem;
  }

  .p-col-4, .p-col-12, .p-col-8 {
    padding: 0px;
    padding-left: 0.5rem;
  }
  .p-col-4 {
    color: var(--text-color-secondary);
  }
  .p-col-8 {
    font-weight: bold;
  }
}

.title {
  font-weight: 700;
  flex: 1;

  &--ro {
    font-size: 0.8rem;
  }
}

.title-margin {
  margin-bottom: 1.5rem;
}

.type {
  width: 30%;
}

.value {
  display: flex;
  margin-left: 0.5rem;
  flex: 1;
}

.p-field, dav-input {
  width: 100%;
}

p-chips {
  width: 100%;
}
