.margin {
  margin-right: 0.3rem;
}

.footer {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  background: none;
  width: calc(100% - 2rem);
  display: flex;
  justify-content: space-between;
  pointer-events: none;

  dav-button {
    pointer-events: all;
  }
}

.spacer {
  width: 1.25rem;
  content: ' ';
  background: none;
}
