.p-shadow-1 {
  padding: 1rem;
}

p-radioButton, p-checkbox {
  margin-right: 0.5rem;
}

.input-flex {
  display: flex;
  width: 100%;
  align-items: center;
}

dav-input {
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--font-family);
  color: var(--text-color);

}

.blue {
  color: var(--primary-color);
}

.flex label, .full {
  display: flex;
  flex: 1;
}

.flex[hidden], .input-flex[hidden] {
  display: none !important;
}
