dav-tiles {
  img {
    position: absolute;
  }

  .wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
  }

  .row1 {
    position: relative;
    z-index: 11;
    display: flex;
    height: 50%;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
  }

  .row2 {
    position: relative;
    z-index: 11;
    display: flex;
    height: 50%;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    min-height: 50%;
    font-size: 12px;
  }

  .row3 {
    position: relative;
    z-index: 11;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-end;
    justify-content: left;
    min-height: 100%;
    font-size: 12px;
    padding-left: 10px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .mat-grid-list {
    height: 100% !important;
  }
}
