.tile {
  height: calc(20vh - 1.6rem);
  width: 50%;
  border: 1px solid white;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  color: white;
  position: relative;
}

.initials {
  font-size: 2rem;
  font-weight: bold;
}

.row3 {
  position: absolute;
  align-items: flex-end;
  justify-content: left;
  right: 0.1rem;
  bottom: 0.1rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
