<div class="p-fluid flex flex--margin" *ngIf="!view._isNew">
  <dav-single-binary [readOnly]="view._readOnly" [contact]="view._contact" vcardId="PHOTO"></dav-single-binary>
  <div class="filler"></div>
  <dav-button styleClass="p-button-lg" dav-contact-click="call" [who]="view._contact" icon="fa fa-phone"></dav-button>
  <dav-button [hidden]="!view._readOnly" styleClass="p-button-lg" icon="fa fa-pencil-square-o" (notify)="view._edit()"></dav-button>
  <dav-button [hidden]="view._readOnly" styleClass="p-button-lg" icon="fa fa-times" (notify)="view._cancel()"></dav-button>
  <dav-button [hidden]="view._readOnly" styleClass="p-button-lg" icon="fa fa-check" (notify)="view._save()"></dav-button>
  <dav-button [hidden]="!view._readOnly" styleClass="p-button-lg" icon="fa fa-trash" (notify)="view._delete()"></dav-button>
</div>

<span *ngIf="view._readOnly">
  <div class="flex flex--center">
    <dav-contact [contact]="view._contact" [compact]="true"></dav-contact>
  </div>
</span>

<p-card *ngFor="let field of view._fields">
  <dav-structured [vcardId]="field.vcardId" *ngIf="field.type == 'structured'" [contact]="view._contact" [readOnly]="view._readOnly"></dav-structured>
  <dav-multiple-text
    [readOnly]="view._readOnly"
    [contact]="view._contact"
    [vcardId]="field.vcardId"
    *ngIf="field.type == 'multiple-text'"></dav-multiple-text>
  <dav-groups
    [readOnly]="view._readOnly"
    [contact]="view._contact"
    [vcardId]="field.vcardId"
    *ngIf="field.vcardId == 'CATEGORIES'"></dav-groups>
  <dav-structured-multiple
    *ngIf="field.type == 'structured-multiple'"
    [readOnly]="view._readOnly"
    [contact]="view._contact"
    [vcardId]="field.vcardId"></dav-structured-multiple>
  <dav-single-input
    *ngIf="field.type == 'single-input'"
    [readOnly]="view._readOnly"
    [contact]="view._contact"
    [vcardId]="field.vcardId"></dav-single-input>
  <dav-single-choice
    *ngIf="field.type == 'single-choice'"
    [readOnly]="view._readOnly"
    [contact]="view._contact"
    [vcardId]="field.vcardId"></dav-single-choice>
</p-card>

<ng-template #confirm let-data>
  <mat-list>
    <mat-list-item>
      <mat-label>Are you sure you want to delete the contact</mat-label>
    </mat-list-item>
    <mat-list-item>
      <button (click)="view._doDelete(data.ref)" mat-button>Sure</button>
      <button (click)="data.ref.close()" mat-button>Not quite</button>
    </mat-list-item>
  </mat-list>
</ng-template>
