<div
  *ngIf="view._selector != 'dav-single-binary' && view._selector != 'dav-single-input'"
  class="flex"
  [ngClass]="{'margin': !readOnly && (view._selector == 'dav-structured')}">
  <div class="title{{readOnly ? ' title--ro' : ''}}">{{view.metadata | fieldTitle}}</div>
  <div *ngIf="view._selector | hasAdd:readOnly" class="add"><dav-button (notify)="view._add()" icon="fa fa-plus"></dav-button></div>
</div>
<span *ngIf="view._selector == 'dav-single-choice'">
  <ng-container [ngTemplateOutlet]="readOnly ? ro : edit" [ngTemplateOutletContext]="{$implicit: {value: (view.metadata | optionValue:view.metadata?.value)}}"></ng-container>
  <ng-template #edit>
    <ng-container [ngTemplateOutlet]="editChoice" [ngTemplateOutletContext]="{$implicit: view.metadata?.options.length <= 2}"></ng-container>
  </ng-template>
</span>

<span *ngIf="view._selector == 'dav-single-input'">
  <ng-container *ngIf="readOnly; then ro else editInput"></ng-container>
</span>

<span *ngIf="view._selector == 'dav-groups'">
  <ng-container *ngIf="readOnly; then tagsRo else editChips"></ng-container>
</span>

<span *ngIf="view._selector == 'dav-multiple-text'">
  <ng-container [ngTemplateOutlet]="readOnly ? roMultiple : editMultiple" [ngTemplateOutletContext]="{$implicit: view.metadata?.values}"></ng-container>
</span>

<span *ngIf="view._selector == 'dav-structured'">
  <ng-container [ngTemplateOutlet]="readOnly ? roMultiple : editStructured" [ngTemplateOutletContext]="{$implicit: view.metadata?.value}"></ng-container>
</span>

<span *ngIf="view._selector == 'dav-structured-multiple'">
  <ng-container
    [ngTemplateOutlet]="readOnly ? roMultiple : editStructuredMultiple"
    [ngTemplateOutletContext]="{$implicit: readOnly ? view.metadata?.value : view.metadata?.values}"></ng-container>
</span>

<span *ngIf="view._selector == 'dav-single-binary'">
  <ng-container [ngTemplateOutlet]="binary"></ng-container>
</span>

<p-dialog [focusOnShow]="true" header="Please select" [(visible)]="view._confirm" [modal]="true">
  <dav-input [(model)]="view._newType"></dav-input>
  <ng-template pTemplate="footer">
    <dav-button icon="fa fa-check" label="Ok" (click)="view._doAdd()"></dav-button>
  </ng-template>
</p-dialog>

<ng-template #editMultiple>
  <div class="flex" *ngFor="let value of view.metadata?.values; let i = index">
    <div class="type"><ng-container [ngTemplateOutlet]="typesSelect" [ngTemplateOutletContext]="{$implicit: value}"></ng-container></div>
    <div class="value">
      <dav-input [model]="view.metadata?.values[i].value" (modelChange)="view.metadata.values[i].value = $event"></dav-input>
    </div>
    <div><dav-button icon="fa fa-times" (notify)="view._remove(value)"></dav-button></div>
  </div>
</ng-template>

<ng-template #typesSelect let-value>
  <dav-dropdown
    [options]="view.types | asOptions"
    [isPrimitive]="true"
    [model]="value.type"
    (modelChange)="view._changeType($event, value)"></dav-dropdown>
</ng-template>

<ng-template #editChips>
  <div class="flex">
    <p-chips [ngModel]="contact | contactTags" (ngModelChange)="view._add($event)"></p-chips>
  </div>
</ng-template>

<ng-template #editInput>
  <div class="input"><dav-input [(model)]="view.metadata.value" [label]="view.metadata?.label"></dav-input></div>
</ng-template>

<ng-template #editChoice let-radio>
  <dav-dropdown
    [asRadio]="radio"
    [showClear]="true"
    [(model)]="view.metadata.value"
    [isPrimitive]="true"
    [options]="view.metadata?.options | toValueLabel"
    >
  </dav-dropdown>
</ng-template>

<ng-template #editStructuredMultiple let-values>
  <div *ngFor="let value of values">
    <div class="flex margin">
      <div class="col1"><ng-container [ngTemplateOutlet]="typesSelect" [ngTemplateOutletContext]="{$implicit: value}"></ng-container></div>
      <div class="col2"><dav-button (notify)="view._remove(value)" icon="fa fa-times"></dav-button></div>
    </div>
    <ng-container [ngTemplateOutlet]="editStructured" [ngTemplateOutletContext]="{$implicit: value.value}"></ng-container>
  </div>
</ng-template>

<ng-template #editStructured let-values>
  <div class="p-fluid p-grid">
    <div class="p-field" *ngFor="let value of values; let i = index">
      <dav-input [(model)]="value.value" [label]="value.label"></dav-input>
    </div>
  </div>
</ng-template>

<ng-template #roMultiple let-values>
  <div class="ro flex flex--column">
    <ng-container [ngTemplateOutlet]="roMultipleValues" [ngTemplateOutletContext]="{$implicit: values}"></ng-container>
  </div>
</ng-template>

<ng-template #roMultipleValues let-values>
  <div class="flex" *ngFor="let value of values | displayableValues">
    <div class="p-col-4">{{value.label || value.type}}</div>
    <div class="p-col-8">{{value.value}}</div>
  </div>
</ng-template>

<ng-template #tagsRo>
  <div class="ro">
    <div class="flex p-col-12">{{view.metadata?.value}}</div>
  </div>
</ng-template>

<ng-template #ro let-context>
  <div class="ro flex">
    <div class="p-col-4">{{view.metadata?.label}}</div>
    <div class="p-col-8">{{context?.value || view.metadata?.value}}</div>
  </div>
</ng-template>

<ng-template #binary>
  <dav-avatar (click)="view._click()" [contact]="contact"></dav-avatar>
  <input #file type="file" style="display: none"/>
</ng-template>
