<div *ngIf="view._selector != 'dav-single-binary'" class="flex" [ngClass]="{'title-margin': !readOnly && (view._selector == 'dav-structured')}">
  <div class="title{{readOnly ? ' title--ro' : ''}}">{{view.metadata | fieldTitle}}</div>
  <div *ngIf="view._selector | hasAdd:readOnly" class="add"><dav-button (notify)="view._add()" icon="fa fa-plus"></dav-button></div>
</div>
<span *ngIf="view._selector == 'dav-single-choice'">
  <ng-container [ngTemplateOutlet]="readOnly ? ro : edit" [ngTemplateOutletContext]="{$implicit: {value: (view.metadata | optionValue:view.metadata?.value)}}"></ng-container>
  <ng-template #edit>
    <ng-container *ngIf="view.metadata?.options.length > 2; then editSelect else editRadio"></ng-container>
  </ng-template>
</span>

<span *ngIf="view._selector == 'dav-single-input'">
  <ng-container *ngIf="readOnly; then ro else editInput"></ng-container>
</span>

<span *ngIf="view._selector == 'dav-groups'">
  <ng-container *ngIf="readOnly; then tagsRo else editChips"></ng-container>
</span>

<span *ngIf="view._selector == 'dav-multiple-text'">
  <ng-container [ngTemplateOutlet]="readOnly ? roMultiple : editMultiple" [ngTemplateOutletContext]="{$implicit: view.metadata?.values}"></ng-container>
</span>

<span *ngIf="view._selector == 'dav-structured'">
  <ng-container [ngTemplateOutlet]="readOnly ? roMultiple : editStructured" [ngTemplateOutletContext]="{$implicit: view.metadata?.value}"></ng-container>
</span>

<span *ngIf="view._selector == 'dav-structured-multiple'">
  <ng-container [ngTemplateOutlet]="readOnly ? roStructuredMultiple : editStructuredMultiple"></ng-container>
</span>

<span *ngIf="view._selector == 'dav-single-binary'">
  <ng-container [ngTemplateOutlet]="binary"></ng-container>
</span>

<ng-template #confirm let-value>
  <mat-form-field class="max-width">
    <mat-label>Please choose:</mat-label>
    <input matInput [(ngModel)]="view._newType" />
  </mat-form-field>
  <button (click)="view._doAdd(value)" mat-button class="max-width">OK</button>
</ng-template>

<ng-template #photoAction>
  <mat-radio-group style="flex-direction: column; display: flex">
    <mat-radio-button class="radio" (click)="view._choose()" [value]="false" style="margin-bottom: 10px;">Choose photo</mat-radio-button>
    <mat-radio-button class="radio" (click)="view._remove()" [value]="false">Remove photo</mat-radio-button>
  </mat-radio-group>
</ng-template>

<ng-template #editMultiple>
  <div class="flex" *ngFor="let value of view.metadata?.values; let i = index">
    <div class="type"><ng-container [ngTemplateOutlet]="typesSelect" [ngTemplateOutletContext]="{$implicit: value}"></ng-container></div>
    <div class="value">
      <dav-input [model]="view.metadata?.values[i].value" (modelChange)="view.metadata.values[i].value = $event"></dav-input>
    </div>
    <div><dav-button icon="fa fa-times" (notify)="view._remove(value)"></dav-button></div>
  </div>
</ng-template>

<ng-template #typesSelect let-value>
  <dav-dropdown
    [options]="view.types | asOptions"
    [isPrimitive]="true"
    [model]="value.type"
    (modelChange)="view._changeType($event, value)"></dav-dropdown>
</ng-template>

<ng-template #editChips>
  <div class="flex">
    <p-chips [ngModel]="contact | contactTags" (ngModelChange)="view._add($event)"></p-chips>
  </div>
</ng-template>

<ng-template #editInput>
  <mat-form-field>
    <mat-label>{{view.metadata?.label}}</mat-label>
    <input matInput [type]="inputType || 'text'" [(ngModel)]="view.metadata.value"/>
  </mat-form-field>
</ng-template>

<ng-template #editRadio>
  <mat-form-field floatLabel="always">
    <mat-label [id]="view._uid">{{view.metadata?.label}}</mat-label>
    <input matInput style="display: none" type="text"/>
    <mat-radio-group [(ngModel)]="view.metadata.value">
      <mat-radio-button [checked]="b.key == view.metadata?.value" *ngFor="let b of view.metadata?.options" [value]="b.key">{{b.label}}</mat-radio-button>
    </mat-radio-group>
  </mat-form-field>
</ng-template>
<ng-template #editSelect>
  <mat-form-field>
    <mat-label>{{view.metadata?.label}}</mat-label>
    <select matNativeControl [(ngModel)]="view.metadata.value">
      <option *ngFor="let b of view.metadata?.options" [selected]="b.key == view.metadata?.value" [value]="b.key">{{b.label}}</option>
    </select>
  </mat-form-field>
</ng-template>

<ng-template #editStructuredMultiple>
  <mat-chip (click)="view._add()" color="primary" selected>Add {{view.metadata?.label}}</mat-chip>
  <table class="structured-multiple">
    <tr *ngFor="let value of view.metadata?.values">
      <td>
        <ng-container [ngTemplateOutlet]="typesSelect" [ngTemplateOutletContext]="{$implicit: value}"></ng-container>
        <ng-container [ngTemplateOutlet]="editStructured" [ngTemplateOutletContext]="{$implicit: value.value}"></ng-container>
      </td>
    </tr>
  </table>
</ng-template>

<ng-template #editStructured let-values>
  <div class="p-fluid p-grid">
    <div class="p-field" *ngFor="let value of values; let i = index">
      <dav-input [(model)]="value.value" [label]="value.label"></dav-input>
    </div>
  </div>
</ng-template>

<ng-template #roStructuredMultiple>
  <div class="ro flex flex--column" *ngFor="let value of view.metadata?.values">
    <ng-container [ngTemplateOutlet]="roMultipleValues" [ngTemplateOutletContext]="{$implicit: value}"></ng-container>
  </div>
</ng-template>

<ng-template #roMultiple let-values>
  <div class="ro flex flex--column">
    <ng-container [ngTemplateOutlet]="roMultipleValues" [ngTemplateOutletContext]="{$implicit: values}"></ng-container>
  </div>
</ng-template>

<ng-template #roMultipleValues let-values>
  <div class="flex" *ngFor="let value of values | displayableValues">
    <div class="p-col-4">{{value.label || value.type}}</div>
    <div class="p-col-8">{{value.value}}</div>
  </div>
</ng-template>

<ng-template #tagsRo>
  <div class="ro">
    <div class="flex p-col-12">{{context?.value || view.metadata?.value}}</div>
  </div>
</ng-template>

<ng-template #ro let-context>
  <div class="ro flex">
    <div class="p-col-4">{{view.metadata?.label}}</div>
    <div class="p-col-8">{{context?.value || view.metadata?.value}}</div>
  </div>
</ng-template>

<ng-template #binary>
  <dav-avatar (click)="view._click()" [contact]="contact"></dav-avatar>
  <input #file type="file" style="display: none"/>
</ng-template>
