<p-tabView
   [(activeIndex)]="view._selectedTab"
  [ngClass]="{'no-header': view._onlyOneTab}"
  *ngIf="view._loaded"
  (onChange)="view._tab($event)"
  (swipe)="view._swipe($event)"
  dav-swipe
  >
  <p-tabPanel pRipple *ngIf="view._tabs[0]?.idx >= 0">
    <ng-template pTemplate="header"><ng-container [ngTemplateOutlet]="headerTpl" [ngTemplateOutletContext]="{$implicit: {l: 'Favourites', c: 'fa fa-star-o'} }"></ng-container></ng-template>
    <dav-tiles *ngIf="view._tabs[0]?.init"></dav-tiles>
  </p-tabPanel>

  <p-tabPanel pRipple *ngIf="view._tabs[1]?.idx >= 0">
    <ng-template pTemplate="header"><ng-container [ngTemplateOutlet]="headerTpl" [ngTemplateOutletContext]="{$implicit: {l: 'Contacts', c: 'fa fa-user'}}"></ng-container></ng-template>
    <ag-virtual-scroll #vs [items]="view._book?.contacts | filteredContacts | async" height="calc(100vh - 140px)" *ngIf="view._tabs[1]?.init">
      <dav-contact *ngFor="let contact of vs.items" [contact]="contact"></dav-contact>
    </ag-virtual-scroll>
  </p-tabPanel>

  <p-tabPanel pRipple *ngIf="view._tabs[2]?.idx >= 0">
    <ng-template pTemplate="header"><ng-container [ngTemplateOutlet]="headerTpl" [ngTemplateOutletContext]="{$implicit: {l: 'Groups', c: 'fa fa-users'}}"></ng-container></ng-template>
    <span *ngIf="view._tabs[2]?.init">
      <dav-panel #panel *ngFor="let tag of view._tags" [header]="tag">
        <span *ngIf="!(panel | isCollapsed | async)">
          <dav-contact [inCard]="false" *ngFor="let contact of (tag | contactsForTag:view._sync | filteredContacts | async)" [contact]="contact"></dav-contact>
        </span>
      </dav-panel>
    </span>
  </p-tabPanel>
</p-tabView>

<ng-template #headerTpl let-ctx>
  <i class="{{ctx.c}} margin"></i>
  <span>{{ctx.l}}</span>
</ng-template>

<ng-template #tagHeaderTpl></ng-template>

<div class="footer">
  <div class="spacer"></div>
  <dav-button [isText]="false" styleClass="p-button-lg p-button-rounded p-shadow-13" icon="fa fa-phone" (notify)="view._dial()"></dav-button>
  <dav-button [isText]="false" styleClass="p-button-lg p-button-rounded p-shadow-13" icon="fa fa-plus" (notify)="view._add()"></dav-button>
</div>
