<dav-panel
  [isHeaderBold]="true"
  header="Server settings {{(view._serverSet$ | async) ? '(click the check icon to change)' : '(click the sign icon to login)'}}"
  [collapsed]="view._serverSet$ | async">
  <div *ngIf="view._server" class="p-shadow-1 input-flex" [hidden]="(view._serverSet$ | async) && view._serverRo">
    <dav-input label="Server url" [(model)]="view._server.url"></dav-input>
    <dav-button (notify)="view._addServer()" icon="fa fa-sign-in"></dav-button>
  </div>
  <div *ngIf="view._server" class="p-shadow-1 input-flex" [hidden]="!(view._serverSet$ | async) || !view._serverRo">
    <span class="full">{{view._server.url}}</span>
    <i (click)="view._changeServer()" class="fa fa-check blue"></i>
  </div>
</dav-panel>
<dav-panel [isHeaderBold]="true" header="Click action (what happens when you click a contact)" [disabled]="!(view._serverSet$ | async)">
  <ng-container [ngTemplateOutlet]="radio" [ngTemplateOutletContext]="{$implicit: {value: 'call', label: 'Call contact', model: 'action'}}"></ng-container>
  <ng-container [ngTemplateOutlet]="radio" [ngTemplateOutletContext]="{$implicit: {value: 'edit', label: 'Edit contact', model: 'action'}}"></ng-container>
  <ng-container [ngTemplateOutlet]="radio" [ngTemplateOutletContext]="{$implicit: {value: 'view', label: 'View contact', model: 'action'}}"></ng-container>
</dav-panel>
<dav-panel [isHeaderBold]="true" header="Intent to trigger when calling a contact" [disabled]="!(view._serverSet$ | async)">
  <ng-container [ngTemplateOutlet]="radio" [ngTemplateOutletContext]="{$implicit: {value: 'CALL', label: 'Call intent', model: 'intent'}}"></ng-container>
  <ng-container [ngTemplateOutlet]="radio" [ngTemplateOutletContext]="{$implicit: {value: 'DIAL', label: 'Dial intent', model: 'intent'}}"></ng-container>
</dav-panel>
<dav-panel [isHeaderBold]="true" header="Default selected tab" [disabled]="!(view._serverSet$ | async)">
  <ng-container [ngTemplateOutlet]="radio" [ngTemplateOutletContext]="{$implicit: {value: 0, label: 'Favourites', model: 'defaultTab'}}"></ng-container>
  <ng-container [ngTemplateOutlet]="radio" [ngTemplateOutletContext]="{$implicit: {value: 1, label: 'Contacts', model: 'defaultTab'}}"></ng-container>
  <ng-container [ngTemplateOutlet]="radio" [ngTemplateOutletContext]="{$implicit: {value: 2, label: 'Groups', model: 'defaultTab'}}"></ng-container>
</dav-panel>
<dav-panel [isHeaderBold]="true" header="Visible tabs" [disabled]="!(view._serverSet$ | async)">
  <ng-container [ngTemplateOutlet]="checkbox" [ngTemplateOutletContext]="{$implicit: {value: 0, label: 'Favourites', model: 'visibleTabs'}}"></ng-container>
  <ng-container [ngTemplateOutlet]="checkbox" [ngTemplateOutletContext]="{$implicit: {value: 1, label: 'Contacts', model: 'visibleTabs'}}"></ng-container>
  <ng-container [ngTemplateOutlet]="checkbox" [ngTemplateOutletContext]="{$implicit: {value: 2, label: 'Groups', model: 'visibleTabs'}}"></ng-container>
</dav-panel>
<dav-panel [isHeaderBold]="true" header="Visible fields" [disabled]="!(view._serverSet$ | async)">
  <ng-container
    *ngFor="let field of view._fieldsOptions"
    [ngTemplateOutlet]="checkbox"
    [ngTemplateOutletContext]="{$implicit: {value: field.key, label: field.value, model: 'visibleFields'}}"></ng-container>
</dav-panel>
<div class="flex p-shadow-1" [hidden]="!(view._serverSet$ | async)">
  <label for="check-showFav">Use custom favourites</label>
  <p-inputSwitch [(ngModel)]="view._model.showFav" inputId="check-showFav"></p-inputSwitch>
</div>
<ng-template #radio let-ctx>
  <div class="p-shadow-1">
    <p-radioButton [value]="ctx.value" [(ngModel)]="view._model[ctx.model]" inputId="radio-{{ctx.value}}" name="radio"></p-radioButton>
    <label for="radio-{{ctx.value}}">{{ctx.label}}</label>
  </div>
</ng-template>
<ng-template #checkbox let-ctx>
  <div class="p-shadow-1">
    <p-checkbox [value]="ctx.value" [(ngModel)]="view._model[ctx.model]" inputId="checkbox-{{ctx.value}}" name="radio"></p-checkbox>
    <label for="checkbox-{{ctx.value}}">{{ctx.label}}</label>
  </div>
</ng-template>
