dav-dropdown {
  .p-dropdown {
    width: 100%;
  }

  .flex {
    width: 100%;
    display: flex;

    &--column {
      flex-direction: column;
    }
  }

  p-radioButton {
    margin-right: 0.1rem;
  }
  
  .option {
    margin-right: 0.5rem;
  }
}
